<template>
  <div class="flex -mx-2">
    <div class="flex-1 bg-white shadow-md rounded p-10 mx-2">
      <h5 class="text-lg font-serif uppercase mb-3"></h5>

    <button class="btn p-0 min-w-0 font-bold text-primary float-right" @click.prevent="user.editMode = !user.editMode"> 
      <i :class="['fa', user.editMode ? 'fa-times' : 'fa-pencil-alt']"></i> {{ user.editMode ? 'Cancel' : 'Change' }}
    </button>

      <div class="clearfix"></div>
      <form v-if="user.editMode" method="POST" @submit.prevent="updateUser">
        <div class="mb-3"> <b> Name</b>
          <input
            type="text"
            class="form-control text-lg"
            placeholder="Name"
            v-model="userForm.name"
          />
          <span
            class="text-red font-medium block"
            role="alert"
            v-if="userErrors['name']"
          >{{ userErrors['name'][0] }}</span>
        </div>
        <div class="mb-3"> <b>Phone No.</b>
          <input
            type="text"
            class="form-control text-lg"
            placeholder="Phone Number"
            v-model="userForm.phone_number"
          />
          <span
            class="text-red font-medium block"
            role="alert"
            v-if="userErrors['phone_number']"
          >{{ userErrors['phone_number'][0] }}</span>
        </div>
        <div class="mb-3"> <b> Father's Name </b>
          <input
            type="text"
            class="form-control text-lg"
            placeholder="Father Name"
            v-model="userForm.father"
          />
          <span
            class="text-red font-medium block"
            role="alert"
            v-if="userErrors['father']"
          >{{ userErrors['father'][0] }}</span>
        </div>
        <div class="mb-3"> <b> Mother's Name</b>
          <input
            type="text"
            class="form-control text-lg"
            placeholder="Mother Name"
            v-model="userForm.mother"
          />
          <span
            class="text-red font-medium block"
            role="alert"
            v-if="userErrors['mother']"
          >{{ userErrors['mother'][0] }}</span>
        </div>
        <div class="mb-3"> <b> Wife's Name</b>
          <input
            type="text"
            class="form-control text-lg"
            placeholder="Wife Name"
            v-model="userForm.wife"
          />
          <span
            class="text-red font-medium block"
            role="alert"
            v-if="userErrors['wife']"
          >{{ userErrors['wife'][0] }}</span>
        </div>
        <div class="mb-3"> <b> Child's Name</b>
          <input
            type="text"
            class="form-control text-lg"
            placeholder="Child"
            v-model="userForm.child"
          />
          <span
            class="text-red font-medium block"
            role="alert"
            v-if="userErrors['child']"
          >{{ userErrors['child'][0] }}</span>
        </div>
        <div class="mb-3"> <b> Address</b>
          <input
            type="text"
            class="form-control text-lg"
            placeholder="Address"
            v-model="userForm.address"
          />
          <span
            class="text-red font-medium block"
            role="alert"
            v-if="userErrors['address']"
          >{{ userErrors['address'][0] }}</span>
        </div>

        <div class="mt-6">
          <button type="submit" class="btn btn-primary float-right" :disabled="updating">Update</button>
        </div>
      </form>

      <div v-else class="text-lg">
        <div class="uppercase font-bold text-sm"><b> Name </b>:  {{ user.name }}</div>

        <div class="uppercase font-bold text-sm mt-3"><b> Email </b>: {{ user.email }}</div>

        <div class="uppercase font-bold text-sm mt-3"><b> Phone Number </b>: {{ user.phone_number }}</div>
        
        <div class="uppercase font-bold text-sm mt-3"><b> Father Name </b>: {{ userdetails.father }}</div>
        
        <div class="uppercase font-bold text-sm mt-3"><b> Mother Name </b>: {{ userdetails.mother }}</div>
        
        <div class="uppercase font-bold text-sm mt-3"><b> Wife Name </b>: {{ userdetails.wife }}</div>
        
        <div class="uppercase font-bold text-sm mt-3"><b> Child Name </b>: {{ userdetails.child }}</div>

        <div class="uppercase font-bold text-sm mt-3"><b> Address </b>: {{ userdetails.address }}</div>

        <div class="col-lg-6 col-md-6">
          <div class="avatar img-fluid img-circle" style="margin-top:10px">
             <img :src="user.avtar"/>
          </div>
      </div>

        
      </div>
    </div>

    <!-- <div class="flex-1 bg-white shadow-md rounded p-10 mx-2">
      <h5 class="text-lg font-serif uppercase mb-3">User Details</h5>

      <div class="col-lg-6 col-md-6">
          <div class="avatar img-fluid img-circle" style="margin-top:10px">
             <img :src="user.avtar"/>
          </div>
      </div>  
      
    </div> --> 
  </div>
</template>

<script>
export default {
  data: () => ({
    user: {
      editMode: false
    },

    address: {
      states: [],
      districts: [],
      places: [],
      district: null,
      place: null,
      editMode: false,
      loadingPlaces: false
    },

    currentAddress: {},

    userForm: {
      name: null,
      phone_number: null,
      avatar: null
    },
    addressForm: {},

    loading: true,
    updating: false,
    userErrors: [],
    addressErrors: []
  }),

  created() {
    this.getUser();
    // this.getStates();
    //this.getUserDetails();
  },

  methods: {
    getUser() {
      axios("api/user").then(response => {
        
        this.user = { ...this.user, ...response.data };
        this.userdetails = { ...this.userdetails, ...response.data['user_details'] };

        this.userForm.name = response.data.name;
        this.userForm.phone_number = response.data.phone_number;
        this.userForm.avtar = response.data.avtar;
        this.userForm.father = response.data['user_details'].father;
        this.userForm.mother = response.data['user_details'].mother;
        this.userForm.wife = response.data['user_details'].wife;
        this.userForm.child = response.data['user_details'].child;
        this.userForm.address = response.data['user_details'].address;
      });
    },
    uploadAvatar(){
      alert();
    },

    updateUser() {
      this.updating = true;
      axios
        .put("api/user/profile", this.userForm)
        .then(response => {
          this.user = { ...this.user, ...response.data };
          this.userdetails = { ...this.userdetails, ...response.data['user_details'] };
          this.user.editMode = false;
        })
        .catch(error => {
          if (error.response.status == 422)
            this.userErrors = error.response.data.errors;
        })
        .finally(_ => (this.updating = false));
    },

    // getUserDetails() {
    //   axios("api/user/address/billing").then(response => {
    //     const data = response.data;

    //     if (data) {
    //       this.address = { ...this.address, ...data };
    //       this.currentAddress = JSON.parse(JSON.stringify(data));
    //       this.getPlaces(data.district.id).then(
    //         response => (this.address.places = response.data)
    //       );
    //     }
    //     else {
    //       this.address.editMode = true;
    //     }        
          
    //     this.loading = false;
    //   });
    // },

    
  }
};
</script>