<template>


      <form method="POST" @submit.prevent="login">
        <div class="mb-2">
          <input
            type="email"
            class="form-control"
            name="email"
            placeholder="E-Mail Address"
            required
            autocomplete="email"
            v-model="form.email"
            :disabled="loading"
          />
          <span
            class="text-red font-medium block"
            role="alert"
            v-if="form.errors.email"
          >{{ form.errors.email[0] }}</span>
        </div>

        <div class="mb-2">
          <input
            type="password"
            class="form-control"
            name="password"
            placeholder="Password"
            required
            autocomplete="current-password"
            v-model="form.password"
            :disabled="loading"
          />
          <span
            class="text-red font-medium block"
            role="alert"
            v-if="form.errors.passwords"
          >{{ form.errors.passwords[0] }}</span>
        </div>

        <div class="mt-3 mb-2 flex items-center">
          <input type="checkbox" name="remember" id="_remember" />
          <label class="ml-1" for="_remember">Remember Me</label>
        </div>

        <div class="mt-6">
          <button type="submit" class="btn btn-primary w-full" :disabled="loading">Login</button>
        </div>
  </form>
    
</template>

<script>
export default {
  data: () => ({
    
    form: {
      email: null,
      password: null,
      errors: []
    },
    loading: false
  }),
  
  
  methods: {
    login() {
		this.loading = true;
      const { email, password } = this.form;
      axios
        .post("login", { email, password })
        .then(resp => {
				window.axios.defaults.headers.common['X-CSRF-TOKEN'] = resp.data.csrf_token;
			  window.location = '/home';
			})
        .catch(error => {
			  this.loading = false;
          const resp = error.response;
          if (resp) {
            if (resp.status == 422) {
              this.form.errors = resp.data.errors;
            }
          } else {
            console.log(error);
          }
        });
    }
  }
};
</script>