<template>
  <div>
    
    <h5 class="text-lg font-serif tracking-wider uppercase mb-3">Register</h5>
    

    <form  @submit.prevent="register">
      <p>Please enter your name, email address and a secure password.</p>

      
      <div class="mb-2">
        <input
          type="text"
          :class="['form-control', errors.name ? 'border-red focus:border-red' : '']"
          placeholder="Full Name"
          required
          autocomplete="name"
          autofocus
          v-model="form.name"
        />
        <span
          class="text-red font-medium block"
          role="alert"
          v-if="errors.name"
        >{{ errors.name[0] }}</span>
      </div>

      <div class="mb-2">
      <input
              type="text"
              v-on:keydown.enter.prevent
              :class="['form-control', errors.phone_number ? 'border-red focus:border-red' : '']"
              placeholder="Phone Number"
              required
              autofocus
              v-model="form.phone_number"
              @focus="phoneFocused = true"
              @focusout="phoneFocused = false"
              :disabled="loading"
            />
      </div>

      <div class="mb-2">
        <input
          type="email"
          :class="['form-control', errors.email ? 'border-red focus:border-red' : '']"
          placeholder="Email Address"
          required
          autocomplete="email"
          v-model="form.email"
        />

        <span
          class="text-red font-medium block"
          role="alert"
          v-if="errors.email"
        >{{ errors.email[0] }}</span>
      </div>
      
            
      <div class="mb-2">
        <input
          type="email"
          class="form-control"
          placeholder="Confirm Email Address"
          required
          @paste.prevent        
          v-model="form.email_confirmation"
        />       
      </div>

      <div class="mb-2">
        <input
          type="password"
          :class="['form-control', errors.password ? 'border-red focus:border-red' : '']"
          placeholder="Password"
          required
          autocomplete="new-password"
          v-model="form.password"
        />
        <span
          class="text-red font-medium block"
          role="alert"
          v-if="errors.password"
        >{{ errors.password[0] }}</span>
      </div>

      <div class="mb-2">
        <input
          type="password"
          class="form-control"
          placeholder="Confirm Password"
          required
          autocomplete="new-password"
          v-model="form.password_confirmation"
        />
      </div>

      <div class="mt-6">
        <button type="submit" class="btn btn-primary" :disabled="loading">Register</button>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  data: () => ({
    form: {
      message_type: null,
      area_code: null,
      phone_number: null,
      verification_code: null,
      name: null,
      last_name: null,
      email: null,
      email_confirmation: null,
      password: null,
      password_confirmation: null
    },
    loading: false,
    errors: [],
    phoneFocused: false,
    verificationSent: null
  }),
  methods: {
    
    register() {
      this.errors = [];
      this.loading = true;
      const data = this.form;
      axios
        .post("register", data)
        .then(response => {
          window.location = '/home';
        })
        .catch(error => {
          if (error.response.status == 422)
            this.errors = error.response.data.errors;
        })
        .finally(_ => (this.loading = false));
    }
  }
};
</script>